<h1>Posts#index</h1>

<div class="post_container">
    <% @posts.each do |post| %>
        <div class="post_card">
            <% if user_signed_in? %>
                <p class="post_author"><%= post.user.email %></p>
            <% end %>
            
            <p  class="post_content"><%= post.content %></p>
        </div>
    <% end %>

    <span class="post_new"><%= link_to "New Post", new_post_path %></span>
</div>