<h1>Posts#new</h1>

<%= form_with model: @post do |form| %>
    <div>
        <%= form.label :content, "Write post: " %>
        <%= form.text_field :content  %>
    </div>

    <%= form.submit "Post" %>
<% end %>